.container
  .content
    img.logo(src="logo.svg")

    .info
      h1 chilos.mx
      h2
        a(href='mailto:chilostudio@gmail.com') chilostudio@gmail.com
          span
        span.underline Hermosillo, Sonora, MX
    .icons
      .icon
        a.fa-twitter(href='https://twitter.com/chilostudio')
      .icon
        a.fa-facebook(href='https://www.facebook.com/chilostudio/')
      .icon
        a.fa-vimeo(href='https://vimeo.com/chilostudio')

.triangles
  div.top
  div.bottom
