doctype html
html
  head
    meta(charset='utf-8')
    title Website
    meta(name='description', content='Chilos Studio')
    meta(name='viewport', content='width=device-width')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@chilostudio')
    meta(name='twitter:creator', content='@chilostudio')
    meta(name='twitter:title', content='Chilos Studio')
    meta(name='twitter:description', content='Individuos que gustan de explorar posibilidades visuales.')
    meta(name='twitter:image', content='https://goo.gl/wz35Qb')
    meta(property='og:url', content='http://chilostudio.com')
    meta(property='og:title', content='Chilos Studio')
    meta(property='og:description', content='Individuos que gustan de explorar posibilidades visuales.')
    meta(property='og:image', content='https://goo.gl/wz35Qb')
    link(href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet')

    if ENV === 'prod'
      link(rel='stylesheet', href='main.css', media='screen')

  body
    include ./content.pug
    script(src='/main.js')
    script(src='https://use.fontawesome.com/c7246148b7.js')
